# Environment
.env
Backend/.env

node_modules
frontend/ node_modules

# Virtual Environment
venv/
Backend/venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# ML
model/
data/

*.pkl
*.npy

